@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
/* Animeted Hr */
@keyframes animate {
  0% {
    width: 10%; /* at 0% of the animation, set the width to 50% */
    background: #f60d54; /* set the background color to #f60d54 */
  }
  25% {
    width: 22%; /* at 25% of the animation, set the width to 70% */
    background: #00ABB3; /* set the background color to #00ABB3 */
  }
  50% {
    width: 15%; /* at 50% of the animation, set the width to 50% */
    background: #3F4E4F; /* set the background color to #3F4E4F */
  }
  75% {
    width: 22%; /* at 75% of the animation, set the width to 70% */
    background: #00ABB3; /* set the background color to #00ABB3 */
  }
  100% {
    width: 10%; /* at 100% of the animation, set the width to 50% */
    background: #f60d54; /* set the background color to #f60d54 */
  }
}
/* Animeted Hr */

:root{
  --nav_backGround_Color: #3F4E4F;
  --topDiv_Color: #3A3845; 
  --nav-text-color: #EEEEEE;
  --primery_btn_color: #00ABB3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  /* font family for website */
  font-family: 'Poppins', sans-serif; 

}
p{
  font-family: 'Roboto',sans-serif;
  font: 400;
  font-size: 18px;
  color: gray;
}
h1{
  font-weight: 600;
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.8rem;
}
a{
  text-decoration: none;
  display: inline-block;
}
svg {
  fill: white;
}


/* utility Classes */
.container{
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}
.flex{
  display: flex;
  align-items: center;
}


/* New Nav */
/* Add styles for the navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #333;
  height: 60px;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.6));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   */
}

/* Add styles for the logo */
.navbar .logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

/* Add styles for the list of links */
.navbar .links {
  display: flex;
  list-style: none;
  width:400px;
  /* border: 1px solid red; */
  justify-content: space-around;
}
.links{
  margin-right: 100px;
}
.navbar .links li {
  margin-left: 20px;
}

.navbar .links a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: 2ms ease-out;
}

.navbar .links a:hover {
  color: #0070f3;  /* Change the link color on hover */
  font-size: 21px;
}
/* New Nav */

/* Header */
.header_left{
  margin-top: 50px;
  margin-left: 40px;
  max-width: 40vw;
}
.header_left h1{
  font-size: 2.7rem;
}
.header_right img{
  margin-left: 100px;
  /* border: 1px solid red; */
  justify-content: end;
  width: 70%;
}

.big_btn{
  font-weight: 500;
  font-size: 20px;
  justify-content: center;
  width: 250px;
  margin-top: 20px;
  padding: 16px;
  transition: 2ms ease-out;
}
.big_btn:hover{
  background-color: white;
  border:2px solid #00ABB3;
  width: 180;
  padding: 17px !important; 
  color: #00ABB3;
}
.header_section{
  margin-top: 40px;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid red; */
}
/* Header */

/* Notes */
.notes{
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
}
.animated-hr {
  width: 10%; /* start the width at 50% */
  border: none;
  height: 10px; /* keep the height at 10px */
  background: #f60d54; /* set the initial background color to #f60d54 */
  border-radius: 5px; /* keep the border radius at 5px */
  animation: animate 10s linear infinite; /* change the animation duration to 10s */
  margin: auto;
}



/* Notes */
/* Card Section */
.card-section {
  height:35vw;
  display: flex;
  justify-content: space-between;
}

.card {
  background: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.4)),linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0.4));
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s;
  width: 30%;
  position: relative;
  transition: 0.3s ease-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card:hover hr {
  width: 30%; /* increase the width of the hr element to 40% */
}

.card:hover h3{
  font-size: 1.7rem;
}
.card:hover img{
  transform: scale(1.1);
}
hr {
  margin: auto;
  width: 15%; /* set the initial width of the hr element */
  border: 2px solid #333; /* add a border */
  border-radius: 10px;
  background-color: #333;
  transition: width 0.3s; /* add a transition for the width property */
}
.card img {
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  transition: transform 0.3s; /* add a transition for the transform property */
}


.card p {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  margin: 20px 0;
}

.card button {
  display: block;
  width: 60%;
  background-color: #18978F;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px; /* add a margin to separate the button from the paragraph */
  transition: background-color 0.3s;
  margin: 0 auto;
}
.card button:hover {
  border: 2px solid #00ABB3;
  color: #00ABB3;
  background-color: white; /* slightly darker green color */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-h3{
  justify-content: center;
  transition: 0.3s;
}


/* Card Section */




/* Quote */
#quote-header{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
quote-container::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(img/quote.png); /* specify the URL of the quote icon image */
  background-size: cover; /* scale the image to fit the width and height of the icon */
  margin-right: 10px;
  position: absolute;
  top:15px;
  left: 10px;
}

.quote-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: #F8F8F8;
  padding: 20px;
  border-radius: 15px;
  position: relative;
}


.quote {
  font-size: 24px;
  font-style: italic;
  color: #333;
  margin: 20px 0;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.author {
  font-size: 18px;
  font-weight: bold;
  color: #999;
}

/* Quote */

/* About */
.about-page {

  height: 32vw;
  /* background-color: #0070f3; */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.mero-img{
  /* background-color: #fff; */
  width: 50%;
  height: 100%;
}
.content{
  width: 50%;
}
.mero-img img{
  width: 550px;
  height: 550px;
}

/* About */

